<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://nexxto.com/wp-content/uploads/2021/04/engenharia-biomedica.jpg);">
  <div class="container">
    <h1>Kianny é a melhor biomédica do mundo!</h1>
    <p>Transforme sua vida e compre os produtos dela!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
